<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" type="text/css" href="css/common/overlay.css">
    <link rel="stylesheet" type="text/css" href="css/common/framework.css">
    <title>图书管理系统 - 控制台</title>
</head>
<body>
<!-- 添加图书遮罩层 -->
<div id="bookOverlay" class="overlay" style="display: none;">
    <div class="overlay-content" style="text-align: left; padding: 25px 100px; width: 550px; height: 680px;">

        <h2 id="addbookh2">📖 添加图书</h2>
        <h2 id="changebookh2">📖 修改图书</h2>
        <form id="changeBookForm" th:action="@{/updateBook}" method="post">
            <input id="changebook-id" type="hidden" name="id" >

            <label>ISBN：</label>
            <input id="changebook-isbn" type="text" name="ISBN" required maxlength="13"/>

            <label>书名：</label>
            <input id="changebook-name" type="text" name="bookName" required />

            <label>作者：</label>
            <input id="changebook-author" type="text" name="author" required />

            <label>类型：</label>
            <input id="changebook-type" type="text" name="bookType" required />

            <label>出版社：</label>
            <input id="changebook-publisher" type="text" name="publisher" required />

            <label>出版时间：</label>
            <input id="changebook-publisheddate" type="date" name="publishedDate" required />

            <label>数量：</label>
            <input id="changebook-number" type="number" name="bookNumber" min="0" required />

            <label>描述：</label>
            <input id="changebook-desc" type="text" name="description" required />
            <div class="form-actions">
                <button type="submit" class="confirm-btn">✅ 修改</button>
                <button type="button" class="cancel-btn" onclick="closeOverlay('bookOverlay')">❌ 取消</button>
            </div>
        </form>
        <form id="addBookForm" th:action="@{/addBook}" method="post">
            <label>ISBN：</label>
            <input type="text" name="ISBN" required maxlength="13" placeholder="仅输入数字即可，不需要'-'"/>

            <label>书名：</label>
            <input type="text" name="bookName" required />

            <label>作者：</label>
            <input type="text" name="author" required />

            <label>类型：</label>
            <input type="text" name="bookType" required />

            <label>出版社：</label>
            <input type="text" name="publisher" required />

            <label>出版时间：</label>
            <input type="date" name="publishedDate" required />

            <label>数量：</label>
            <input type="number" name="bookNumber" min="0" required />

            <label>描述：</label>
            <input type="text" name="description" required />
            <div class="form-actions">
                <button type="submit" class="confirm-btn">✅ 添加</button>
                <button type="button" class="cancel-btn" onclick="closeOverlay('bookOverlay')">❌ 取消</button>
            </div>
        </form>
    </div>
</div>


<div id="UserOverlay" class="overlay" style="display: none;">
    <div class="overlay-content" style="text-align: left; padding: 40px 100px; width: 550px;">
        <h2 id="updateUserh2">📖 编辑用户</h2>
        <form id="updateUser" th:action="@{/updateUser}" method="post">
            <input id="updateUser-id" type="hidden" name="userId" >

            <label>用户名</label>
            <input id="updateUser-username" type="text" disabled />

            <label>手机</label>
            <input id="updateUser-phone" type="text" name="newPhone" required />

            <label>邮件</label>
            <input id="updateUser-email" type="text" name="newEmail" required />

            <label style="margin-left: 30%;">是否为管理员</label>
            <input id="updateUser-power" type="checkbox" name="newPower" style="width: 50px" />

            <div class="form-actions">
                <button type="submit" class="confirm-btn">✅ 修改</button>
                <button type="button" class="cancel-btn" onclick="closeOverlay('UserOverlay')">❌ 取消</button>
            </div>
        </form>
    </div>
</div>

<div id="addBookMsg" th:if="${AddBookSuccess} or ${AddBookError} or ${AddSameBook}" class="overlay" style="font-size: 20px;">
    <div class="overlay-content">
        <p th:if="${AddBookSuccess}" th:text="${AddBookSuccess}"></p>
        <p th:if="${AddBookError}" th:text="${AddBookError}" style="color:red;"></p>
        <p th:if="${AddSameBook}" th:text="${AddSameBook}" style="color:red;"></p>
        <button onclick="closeOverlay('addBookMsg')">关闭</button>
    </div>
</div>
<div id="deleteUser" class="overlay" style="display: none;">
    <div class="overlay-content">
        <p>确认要删除该用户吗？</p>
        <form action="/deleteUser" method="post">
            <input id="deleteUserId" name="userId" type="hidden" />
            <button style="float: left; margin-left: 16%;">✅ 确认</button>
        </form>
        <button onclick="closeOverlay('deleteUser')">❌ 取消</button>
    </div>
</div>
<div id="deleteBook" class="overlay" style="display: none;">
    <div class="overlay-content">
        <p>确认要删除吗？</p>
        <form action="/deleteBook" method="post">
            <input id="deleteBookId" name="bookId" type="hidden" />
            <button style="float: left; margin-left: 16%;">✅ 确认</button>
        </form>
        <button onclick="closeOverlay('deleteBook')">❌ 取消</button>
    </div>
</div>

<div id="logout" class="overlay" style="display: none;">
    <div class="overlay-content">
        <p>确认要登出吗？</p>
        <a th:href="@{/logout}" style="text-decoration: none;">
            <button>✅ 确认</button>
        </a>
        <button onclick="closeOverlay('logout')">❌ 取消</button>
    </div>
</div>
<div class="sidebar">
    <h2>功能菜单</h2>
    <button class="nav-btn active" onclick="showSection('dashboard')">📊 控制台首页</button>
    <button class="nav-btn" onclick="showSection('books')">📚 图书管理</button>
    <button class="nav-btn" onclick="showSection('borrow')">📖 借阅记录</button>
    <button class="nav-btn" onclick="showSection('users')">👤 用户管理</button>
    <button class="nav-btn" onclick="showSection('settings')">⚙️ 管理员账户管理</button>
    <button class="nav-btn" onclick="logout()">🔓 退出登录</button>
</div>

<div class="main-content">
    <div id="dashboard" class="content-section active">
        <h3>📊 控制台首页</h3>
        <h2>欢迎登录图书管理系统。</h2>
        <p>这里是管理员控制界面</p>
    </div>

    <div id="books" class="content-section">
        <h3>📚 图书管理</h3>
        <button class="add-book-btn" onclick="toggleAddBook()">➕ 添加书籍</button>

        <div class="book-list">
            <div class="book-card" th:each="book : ${books}"
                 th:attr="
                 data-id=${book.id},
                 data-isbn=${book.ISBN},
                 data-title=${book.bookName},
                 data-author=${book.author},
                 data-type=${book.bookType},
                 data-publisher=${book.publisher},
                 data-publishedDate=${book.publishedDate},
                 data-number=${book.bookNumber},
                 data-desc=${book.description}" >
                <div class="book-info">
                    <div class="book-title" th:text="${book.bookName}">书名</div>
                    <div class="book-meta">
                        <span th:text="'作者：' + ${book.author}">作者</span>
                        <span th:text="'类型：' + ${book.bookType}">类型</span>
                        <span th:text="'出版社：' + ${book.publisher}">出版社</span>
                        <span th:text="'出版时间：' + ${book.publishedDate}">出版社</span>
                        <span th:text="'数量：' + ${book.bookNumber}">数量</span>
                        <span th:text="'ISBN：' + ${book.ISBN}">ISBN</span>
                    </div>
                </div>
                <div class="book-actions">
                    <button class="action-btn" onclick="ClickBookCard(this)" >✏️ 编辑</button>
                    <button class="action-btn danger" onclick="ClickDeleteBook(this)">🗑 删除</button>
                </div>
            </div>
        </div>
    </div>

    <div id="borrow" class="content-section">
        <h3>📖 借阅记录</h3>
        <div th:each="borrowinfo : ${borrowInfo}">
            <div th:text="${borrowinfo}" style="margin: 10px;"></div>
        </div>
    </div>

    <div id="users" class="content-section">
        <h3>👥 用户管理</h3>
<!--        <button class="add-user-btn">➕ 添加用户</button>-->
        <div class="user-list">
            <div class="user-card" th:each="user : ${users}"
                 th:attr="data-id=${user.id},
                          data-username=${user.username},
                          data-phone=${user.phone},
                          data-email=${user.email},
                          data-power=${user.power}">
                <div class="user-info">
                    <div class="user-name" th:text="${user.username}">用户名</div>
                    <div class="user-meta">
                        <span th:text="'手机号：' + ${user.phone}">手机号</span>
                        <span th:text="'邮箱：' + ${user.email}">邮箱</span>
                    </div>
                </div>
                <div class="user-actions">
                    <button class="action-btn" onclick="ClickUser(this)">🔧 编辑</button>
                    <button class="action-btn danger" onclick="ClickDeleteUser(this)">❌ 删除</button>
                </div>
            </div>
        </div>
    </div>


    <div id="settings" class="content-section">
        <h3>⚙️ 管理员账户管理</h3>
        <button onclick="toggleChangePassword()">修改密码</button>
        <form id="changePassword" action="/changeAdminPassword" method="post" style="display: none;">
            <input id="password1" type="password" placeholder="新密码" /><br>
            <input id="password2" name="newPasswd" type="password" placeholder="确认密码" /><br>
            <button type="submit">提交</button>
        </form>
    </div>
</div>

<script src="js/admin.js"> </script>
<script src="js/common.js"> </script>
</body>
</html>
