<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>借书用户界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/overlay.css">
</head>
<body>
<div id="overlay" class="overlay" style="display: none;">
    <div id="overlay-content" class="overlay-content">
        <h2 id="overlay-title">书名</h2>
        <p id="overlay-author">作者：xxx</p>
        <p id="overlay-type">类型：xxx</p>
        <p id="overlay-publisher">出版社：xxx</p>
        <p id="overlay-number">剩余数量：xxx</p>
        <p id="overlay-desc">简介：xxx</p>
        <form id="borrowForm" action="/borrowBook" method="post" style="float: left; padding-left: 17%;">
            <input id="borrowBookId" name="bookid" type="hidden" />
            <button id="borrowButton">📖 借阅</button>
        </form>
        <form id="returnForm" action="/returnBook" method="post" style="float: left; padding-left: 17%;">
            <input id="returnbookid" name="bookid" type="hidden" />
            <button id="returnbutton">📖 归还</button>
        </form>
        <button onclick="closeOverlay('overlay')">❌ 关闭</button>
    </div>
</div>
<div id="logout" class="overlay" style="display: none;">
    <div class="overlay-content">
        <p>确认要登出吗？</p>
        <a th:href="@{/logout}" style="text-decoration: none;">
            <button>✅ 确认</button>
        </a>
        <button onclick="closeOverlay('logout')">❌ 取消</button>
    </div>
</div>
<!-- 提示框：借阅失败（已借阅） -->
<div id="Borrowed" th:if="${Borrowed}" class="overlay">
    <div class="overlay-content">
        <p> 借阅失败：您已经借阅过该书</p>
        <button onclick="closeOverlay('Borrowed')">❌ 关闭</button>
    </div>
</div>

<div class="sidebar">
    <h2>用户菜单</h2>
    <button class="nav-btn active" onclick="showSection('books')">📚 图书目录</button>
    <button class="nav-btn" onclick="showSection('mybook')">📚 已借到的图书</button>
    <button class="nav-btn" onclick="showSection('records')">📝 借阅记录</button>
    <button class="nav-btn" onclick="showSection('profile')">👤 我的信息</button>
    <button class="nav-btn" onclick="logout()">🔓 退出登录</button>
</div>

<div class="main-content">
    <div id="books" class="content-section active">
        <h3>📚 图书目录</h3>
        <form action="/getBooks" style="display: flex; justify-content: flex-end;">
            <input type="text" name="target" style=" border-radius: 40px; border: 1px solid; padding: 10px; "/>
            <button type="submit">查找</button>
        </form>
        <div class="book-list">
            <div class="book-card"
                 th:each="book : ${books}"
                 th:attr="data-id=${book.id},
                          data-title=${book.bookName},
                          data-author=${book.author},
                          data-type=${book.bookType},
                          data-publisher=${book.publisher},
                          data-number=${book.bookNumber},
                          data-desc=${book.description}"
                 onclick="ClickBookCard(this, 'borrow')" >
                <h4 th:text="${book.bookName}"></h4>
                <p><span th:text="${book.author}"></span> - 数量:<span th:text="${book.bookNumber}"></span></p>
            </div>
        </div>
    </div>

    <div id="records" class="content-section">
        <h3>📝 借阅记录</h3>
        <div th:each="borrinfo : ${session.borrowInfo}">
            <p th:text="${borrinfo}"></p>
        </div>
    </div>

    <div id="mybook" class="content-section">
        <h3>📚 已借到的图书</h3>
        <div class="book-list">
            <div class="book-card" th:each="book : ${userbooks}"
                 th:attr="data-id=${book.id},
                          data-title=${book.bookName},
                          data-author=${book.author},
                          data-type=${book.bookType},
                          data-publisher=${book.publisher},
                          data-number=${book.bookNumber},
                          data-desc=${book.description}"
                 onclick="ClickBookCard(this, 'return')" >
                <h4 th:text="${book.bookName}"></h4>
                <p><span th:text="${book.author}"></span></span></p>
            </div>
        </div>
    </div>

    <div id="profile" class="content-section">
        <h3>👤 我的信息</h3>
        <p>用户名：<span th:text="${session.user.username}"></span></p>
        <p>电话：<span th:text="${session.user.phone}"></span></p>
        <p>邮箱：<span th:text="${session.user.email}"></span></p>
        <button onclick="toggleEditForm()">修改信息</button>
        <button onclick="toggleEditPasswdForm()">修改密码</button>
        <div id="editForm" class="info-edit-form" style="display: none;">
            <h4>修改信息</h4>
            <form action="/doChangeInfo" method="post">
                <input name="newPhone" type="text" placeholder="新手机号" th:value="${session.user.phone}" /><br>
                <input name="newEmail" type="email" placeholder="新邮箱" th:value="${session.user.email}" /><br>
                <button onclick="alert('信息已提交！');">提交</button>
            </form>
        </div>
        <div id="editPasswordForm" class="info-edit-form" style="display: none;">
            <h4>密码</h4>
            <form action="/doChangePassword" method="post">
                <input id="password1" name="newPasswd" type="password" placeholder="新密码" /><br>
                <input id="password2" type="password" placeholder="确认密码" /><br>
                <button>提交</button>
            </form>
        </div>
    </div>
</div>

<script src="js/dashboard.js"> </script>
</body>
</html>

