<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>借书用户界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/common/overlay.css">
    <link rel="stylesheet" type="text/css" href="css/common/framework.css">
    <link rel="stylesheet" type="text/css" href="css/common/searchText.css">
    <link rel="stylesheet" type="text/css" href="css/common/borrowRecord.css">
    <script src="js/dashboard.js"> </script>
    <script src="js/dashboardCommon.js"> </script>
    <script src="js/common.js"> </script>
    <script th:inline="javascript">
        let activeSection = [[${activeSection}]];
    </script>
</head>
<body>
<div class="sidebar">
    <h2>用户菜单</h2>
    <button class="nav-btn active" onclick="showSection('books')">📚 图书目录</button>
    <button class="nav-btn" onclick="showSection('mybook')">📚 已借到的图书</button>
    <button class="nav-btn" onclick="showSection('borrow')">📝 借阅记录</button>
    <button class="nav-btn" onclick="showSection('ticket')">💼 提交工单</button>
    <button class="nav-btn" onclick="showSection('profile')">👤 我的信息</button>
    <button class="nav-btn" onclick="logout()">🔓 退出登录</button>
</div>

<div class="main-content">
    <div id="books" class="content-section active">
        <h3>📚 图书目录</h3>
        <form action="/getBooks" class="search-form">
            <input type="text" name="target" class="search-input" placeholder="🔍 输入关键字"/>
        </form>
        <div class="book-list">
            <div class="book-card"
                 th:each="book : ${books}"
                 th:attr="data-id=${book.id},
                          data-title=${book.bookName},
                          data-author=${book.author},
                          data-type=${book.bookType},
                          data-publisher=${book.publisher},
                          data-publishedDate=${book.publishedDate},
                          data-number=${book.bookNumber},
                          data-isbn=${book.ISBN},
                          data-desc=${book.description}"
                 onclick="ClickBookCard(this, 'borrow')" >
                <h4 th:text="${book.bookName}"></h4>
                <p><span th:text="${book.author}"></span> - 数量:<span th:text="${book.bookNumber}"></span></p>
            </div>
        </div>
    </div>

    <div id="borrow" class="content-section">
        <h3>📝 借阅记录</h3>
        <div class="borrow-list">
            <div class="borrow-card" th:each="borrinfo : ${borrowInfo}">
                <div class="borrow-main">
                    <div class="borrow-title">
                        <span th:text="'书名：' + ${borrinfo.bookName}"></span> -
                        <span th:text="'作者：' + ${borrinfo.author}"></span>
                    </div>
                    <div class="borrow-meta">
                        <span th:text="'借阅日期：' + ${borrinfo.borrowDate}"></span>
                        <span th:if="${borrinfo.returnDate}" th:text="'应还日期：' + ${borrinfo.returnDate}"></span>
                        <span th:if="${borrinfo.returnDate} == null">尚未归还</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="mybook" class="content-section">
        <h3>📚 已借到的图书</h3>
        <div class="book-list">
            <div class="book-card" th:each="book : ${userbooks}"
                 th:attr="data-id=${book.id},
                          data-isbn=${book.ISBN},
                          data-title=${book.bookName},
                          data-author=${book.author},
                          data-type=${book.bookType},
                          data-publisher=${book.publisher},
                          data-number=${book.bookNumber},
                          data-publishedDate=${book.publishedDate},
                          data-desc=${book.description}"
                 onclick="ClickBookCard(this, 'return')" >
                <h4 th:text="${book.bookName}"></h4>
                <p><span th:text="${book.author}"></span></p>
            </div>
        </div>
    </div>
    <div id="ticket" class="content-section">
        <div class="ticket-header">
            <h3>💼 工单界面</h3>
            <button class="new-ticket-btn" onclick="openOverlay('addTicket')">创建工单</button>
        </div>
            <div class="ticket-table">
                <table>
                    <thead>
                    <tr>
                        <th>#</th> <th>主题</th> <th>工单级别</th> <th>工单状态</th> <th>创建时间</th> <th>最后回复</th> <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket, iterStat : ${tickets}">
                        <td th:text="${iterStat.index + 1}">1</td>
                        <td th:text="${ticket.ticketName}">主题</td>
                        <td th:text="${ticket.ticketRank}">高</td>
                        <td>
                            <div th:unless="${ticket.status}">
                                <span class="status-dot-waiting"></span>
                                <span >处理中</span>
                            </div>
                            <div th:if="${ticket.status}">
                                <span class="status-dot-complete"></span>
                                <span>已完成</span>
                            </div>

                        </td>
                        <td th:text="${ticket.createDate}">2025/04/14 13:50:01</td>
                        <td th:text="${ticket.replyDate}">2025/04/16 09:54:02</td>
                        <td>
                            <span class="view-link"
                               th:attr="data-id=${ticket.id},
                                        data-name=${ticket.ticketName},
                                        data-rank=${ticket.ticketRank},
                                        data-reply=${ticket.reply},
                                        data-content=${ticket.content},
                                        data-status=${ticket.status}"
                               onclick="viewTicket(this)" style="height: 28.5px; float: left; line-height: 28.5px;">查看</span>
                            <form th:unless="${ticket.status}" action="closeTicket" method="post">
                                <input name="id" th:value="${ticket.id}" type="hidden" />
                                <button class="ticket-close-btn">关闭</button>
                            </form>
                            <button th:if="${ticket.status}" class="ticket-close-btn" disabled>关闭</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <div id="profile" class="content-section">
        <h3>👤 我的信息</h3>
        <p>用户名：<span th:text="${session.user.username}"></span></p>
        <p>电话：<span th:text="${session.user.phone}"></span></p>
        <p>邮箱：<span th:text="${session.user.email}"></span></p>
        <button onclick="toggleEditUserForm('info')">修改信息</button>
        <button onclick="toggleEditUserForm('password')">修改密码</button>
        <div id="editForm" class="info-edit-form" style="display: none;">
            <h4>修改信息</h4>
            <form action="/updateUser" method="post">
                <input name="newPhone" type="text" placeholder="新手机号" th:value="${session.user.phone}" /><br>
                <input name="newEmail" type="email" placeholder="新邮箱" th:value="${session.user.email}" /><br>
                <button onclick="alert('信息已提交！');">提交</button>
            </form>
        </div>
        <div id="editPasswordForm" class="info-edit-form" style="display: none;">
            <h4>密码</h4>
            <form action="/updateUser" method="post">
                <input id="password1" name="newPassword" type="password" placeholder="新密码" /><br>
                <input id="password2" type="password" placeholder="确认密码" /><br>
                <button>提交</button>
            </form>
        </div>
    </div>
</div>

<div id="overlay" class="overlay" style="display: none;">
    <div id="overlay-content" class="overlay-content">
        <h2 id="overlay-title">书名</h2>
        <p id="overlay-author">作者：xxx</p>
        <p id="overlay-type">类型：xxx</p>
        <p id="overlay-ISBN">ISBN：xxx</p>
        <p id="overlay-publisher">出版社：xxx</p>
        <p id="overlay-publishedDate">出版日期：xxx</p>
        <p id="overlay-number">剩余数量：xxx</p>
        <p id="overlay-desc">简介：xxx</p>
        <form id="borrowForm" action="/borrowBook" method="post" style="float: left; padding-left: 17%;">
            <input id="borrowBookId" name="bookid" type="hidden" />
            <button id="borrowButton">📖 借阅</button>
        </form>
        <form id="returnForm" action="/returnBook" method="post" style="float: left; padding-left: 17%;">
            <input id="returnbookid" name="bookid" type="hidden" />
            <button id="returnbutton">📖 归还</button>
        </form>
        <button onclick="closeOverlay('overlay')">❌ 关闭</button>
    </div>
</div>
<div id="logout" class="overlay" style="display: none;">
    <div class="overlay-content">
        <p>确认要登出吗？</p>
        <a th:href="@{/logout}" style="text-decoration: none;">
            <button>✅ 确认</button>
        </a>
        <button onclick="closeOverlay('logout')">❌ 取消</button>
    </div>
</div>
<!-- 提示框：借阅 -->
<div id="Borrowed" th:if="${Borrowed} or ${CantBorrow} or ${SuccessBorrow}" class="overlay">
    <div class="overlay-content">
        <p th:if="${Borrowed}" th:text="${Borrowed}"></p>
        <p th:if="${CantBorrow}" th:text="${CantBorrow}"></p>
        <p th:if="${SuccessBorrow}" th:text="${SuccessBorrow}"></p>
        <button onclick="closeOverlay('Borrowed')">❌ 关闭</button>
    </div>
</div>
<div id="Returned" th:if="${Returned} or ${CantReturn}" class="overlay">
    <div class="overlay-content">
        <p th:if="${Returned}" th:text="${Returned}"> </p>
        <p th:if="${CantReturn}" th:text="${CantReturn}"> </p>
        <button onclick="closeOverlay('Returned')">❌ 关闭</button>
    </div>
</div>
<div id="addTicket" class="overlay" style="display: none;">
    <div class="overlay-content">
        <h2>创建工单</h2>
        <form action="/addTicket" method="post">
            <label for="ticketname">工单名:</label>
            <input id="ticketname" name="ticketName" type="text" style="width: 80%;"/><br>
            <label for="rank">级别:</label>
            <select id="rank" name="ticketRank" style="width: 15%;">
                <option>高</option>
                <option>中</option>
                <option>低</option>
            </select>
            <br>
            <label for="content">内容:</label>
            <textarea id="content" name="content" style="height: 200px; width: 90%;"></textarea>
            <button style="float: left; margin-left: 21%;">提交</button>
        </form>
        <button onclick="closeOverlay('addTicket')">关闭</button>
    </div>
</div>
<div id="showTicket" class="overlay" style="display: none;">
    <div class="overlay-content">
        <h2>工单</h2>
        <p style="text-align: left">内容:</p><br>
        <textarea id="showTicket-content" style="width: 90%; height: 100px" disabled>content</textarea><br>

        <p style="text-align: left">回复:</p><br>
        <textarea id="showTicket-reply" style="width: 90%; height: 100px" disabled>reply</textarea><br>

        <button onclick="closeOverlay('showTicket')">关闭</button>
    </div>
</div>
<div id="TicketErrorMsg" class="overlay" th:if="${CantCloseTicket} or ${CantFindTicket} or ${TicketIsNull}" >
    <div class="overlay-content">
        <p th:if="${CantCloseTicket}" th:text="${CantCloseTicket}"></p>
        <p th:if="${CantFindTicket}" th:text="${CantFindTicket}"></p>
        <p th:if="${TicketIsNull}" th:text="${TicketIsNull}"></p>
        <button onclick="closeOverlay('TicketErrorMsg')">关闭</button>
    </div>
</div>
</body>
</html>

