<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/common/overlay.css">
    <script src="js/common.js"></script>
    <title>图书管理系统 - 登录</title>
</head>
<body>
<div class="login-container">
    <h2>图书管理系统</h2>
    <form th:action="@{/doLogin}" method="post">
        <input type="text" name="username" placeholder="用户名" required>
        <input type="password" name="password" placeholder="密码" required>
        <div th:if="${PasswordError} or ${NoUsername}" style="color: red; text-align: center;">
            <span th:if="${PasswordError}" th:text="${PasswordError}"></span>
            <span th:if="${NoUsername}" th:text="${NoUsername}"></span>
        </div>
        <button type="submit">登录</button>
    </form>
    <a th:href="@{/register}" ><button type="submit" >注册</button> </a>
</div>

<div id="message" th:if="${UpdatePasswd}" class="overlay" style="font-size: 20px;">
    <div class="overlay-content">
        <p th:if="${UpdatePasswd}" th:text="${UpdatePasswd}"></p>
        <button onclick="closeOverlay('message')">关闭</button>
    </div>
</div>
</body>
</html>
