<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" type="text/css" href="css/common/overlay.css">
    <script src="js/register.js"> </script>
    <script src="js/common.js"> </script>
    <title>注册 - 图书管理系统</title>
</head>
<body>
<div class="register-box">
    <h2>借书卡注册</h2>
    <form action="/doRegister" method="post">
        <input name="username" type="text" placeholder="用户名" required />
        <input id="passwd1" name="password" type="password" placeholder="密码" required />
        <input id="passwd2" type="password" placeholder="确认密码" required />
        <input name="phone" type="text" placeholder="手机号" required />
        <input name="email" type="email" placeholder="邮箱" required />
        <div class="RegMsg">
            <div id="RegSuccess" th:if="${RegSuccess}" th:text="${RegSuccess}">注册成功</div>
            <div id="RegUserIsExist" th:if="${RegUserIsExist}" th:text="${RegUserIsExist}">这个用户名已经被注册过了</div>
        </div>
        <button type="submit">注册</button>
    </form>
    <p>已有账号？<a th:href="@{/login}">点击登录</a></p>
</div>

</body>
</html>
