<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celivra.bookms.Mapper.BookMapper">
    <update id="updateBookInfo" parameterType="com.celivra.bookms.Entity.Book">
        update book
        set
        bookname = #{bookName},
        author = #{author},
        booktype = #{bookType},
        publisher = #{publisher},
        booknumber = #{bookNumber},
        description = #{description}
        where id = #{id}
    </update>
    <select id="findBookByName" parameterType="String" resultType="com.celivra.bookms.Entity.Book">
        select id, bookname, author, booktype, publisher, booknumber, description
        from book
        where bookname = #{bookName}
    </select>
    <select id="findBookById" parameterType="String" resultType="com.celivra.bookms.Entity.Book">
        select id, bookname, author, booktype, publisher, booknumber, description
        from book
        where id = #{bookId}
    </select>
    <select id="getAllBooks" parameterType="String" resultType="com.celivra.bookms.Entity.Book">
        select id, bookname, author, booktype, publisher, booknumber, description
        from book
    </select>
</mapper>


